cat <<EOT > .gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Env files
.env

# Logs
logs/

# Media
media/

# Mac
.DS_Store
EOT

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
